@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    @apply font-pt;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

#section-1{
    @apply h-screen;
}

#section-1{
    font-weight: bolder;
}